.card {
  width: 1000px;
  margin: 40px auto;
}

.card-content {
  padding: 20px;
}

.checkbox {
  margin: 4px 6px;
}

.section {
  margin: 16px auto;
}

.grey-card {
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 5px;
}
