<mat-card class="card">
  <mat-card-content class="card-content">
    <p>
      Enter your desired search criteria using the below fields to find ATel
      reports matching all search criteria. All fields are optional, however at
      least one field must be entered to perform a search.
    </p>

    <form>
      <section class="section" style="padding-top: 1.6rem">
        <mat-form-field appearance="fill" class="wide">
          <mat-label>Free-text Search</mat-label>
          <input
            matInput
            [(ngModel)]="query"
            name="query"
            placeholder="Enter terms to search report title and body content"
          />
        </mat-form-field>
      </section>

      <section class="section">
        <span class="bold">Search by Object </span>

        <mat-form-field appearance="standard">
          <mat-select [(value)]="mode" class="bold">
            <mat-option [value]="SearchMode.Name" class="bold">Name</mat-option>
            <mat-option [value]="SearchMode.Coordinate" class="bold"
              >Coordinates</mat-option
            >
          </mat-select>
        </mat-form-field>

        <ng-container [ngSwitch]="mode">
          <mat-form-field
            *ngSwitchCase="SearchMode.Name"
            appearance="fill"
            class="wide"
            style="margin: 0 5px"
          >
            <mat-label>Object Name</mat-label>
            <input
              matInput
              [(ngModel)]="name"
              name="name"
              placeholder="Enter object name or alias"
            />
          </mat-form-field>

          <div *ngSwitchCase="SearchMode.Coordinate" fxLayout="row">
            <mat-form-field
              appearance="fill"
              class="wide"
              style="margin: 0 5px"
            >
              <mat-label>Right Ascension</mat-label>
              <input
                matInput
                [(ngModel)]="ra"
                name="ra"
                placeholder="hh:mm:ss.ssss"
              />
            </mat-form-field>

            <mat-form-field
              appearance="fill"
              class="wide"
              style="margin: 0 5px"
            >
              <mat-label>Declination</mat-label>
              <input
                matInput
                [(ngModel)]="declination"
                name="declination"
                placeholder="hh:mm:ss.ssss"
              />
            </mat-form-field>

            <mat-form-field
              appearance="fill"
              class="wide"
              style="margin: 0 5px"
            >
              <mat-label>Radius (default: 10, maximum: 20)</mat-label>
              <input
                matInput
                [(ngModel)]="radius"
                name="radius"
                placeholder="10.0000 arcseconds"
                [max]="20"
              />
            </mat-form-field>
          </div>
        </ng-container>
      </section>

      <section class="section" style="padding-bottom: 1.6rem">
        <mat-form-field appearance="standard">
          <mat-select [(value)]="match" class="bold">
            <mat-option [value]="Match.Any" class="bold"
              >Including any of</mat-option
            >
            <mat-option [value]="Match.All" class="bold"
              >Including all of</mat-option
            >
            <mat-option [value]="Match.None" class="bold">Excluding</mat-option>
          </mat-select>
        </mat-form-field>

        <span class="bold"> the following keywords:</span>

        <div class="keywords" fxLayout="row" fxLayoutAlign="space-between">
          <div *ngFor="let keywordsColumn of keywordColumns" fxLayout="column">
            <mat-checkbox
              *ngFor="let keyword of keywordsColumn"
              [(ngModel)]="keywords[keyword]"
              [name]="keyword"
              class="checkbox capitalized"
              >{{ keyword }}</mat-checkbox
            >
          </div>
        </div>
      </section>

      <section class="section" style="padding-top: 1.6rem">
        <label><b>Filter by submission date:</b></label>

        <div fxLayout="row">
          <mat-form-field appearance="fill" class="wide" style="margin: 0 5px">
            <mat-label>Start Date</mat-label>
            <input
              matInput
              [(ngModel)]="start"
              [matDatepicker]="startPicker"
              name="startPicker"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="startPicker"
            ></mat-datepicker-toggle>
            <mat-datepicker #startPicker></mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="fill" class="wide" style="margin: 0 5px">
            <mat-label>End Date</mat-label>
            <input
              matInput
              [(ngModel)]="end"
              [matDatepicker]="endPicker"
              name="endPicker"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="endPicker"
            ></mat-datepicker-toggle>
            <mat-datepicker #endPicker></mat-datepicker>
          </mat-form-field>
        </div>
      </section>

      <button
        mat-raised-button
        color="primary"
        [appProgressBar]="submit.bind(this)"
        appProgressBarMode="query"
        class="wide uppercase"
      >
        Search
      </button>
    </form>
  </mat-card-content>

  <mat-card-footer style="text-align: center; margin-bottom: 8px">
    <strong>
      Disclaimer: This website is not affiliated with The Astronomer's Telegram
    </strong>
  </mat-card-footer>
</mat-card>
