.card {
  max-width: 1000px;
  margin: 0 auto;
}

.card-content {
  padding: 1rem;
}

.checkbox {
  font-size: 1em;
  margin: 2px 0;
  width: 25%;
  overflow: hidden;
}

.section {
  padding: 0.2rem 1rem;
  margin: 1rem 0.2rem;
  background-color: rgba(0, 0, 0, 0.01);
  border-radius: 3px;
}

.keywords {
  background-color: rgba(0, 0, 0, 0.05);
  padding: 1rem;
  border-radius: 3px;
}
